 {% extends 'base.html' %}
 {% block title %}
 Delete Blog Post
 {% endblock %}
  {% block content %}
 {% if user.is_authenticated %}
 {% if user.id == post.author.id %}
  <h1> Delete Post>>> </h1>
  <br/><br/>
  <h3>Delete: {{ post.title }}</h3>
  <br/>
 <div class="mb-3">
 <form method="POST">
  {% csrf_token %}

 <strong>Are you sure>>></strong><br/><br/>
  <button class="btn btn-warning" >Delete post...!!!</button>
 </form>
 </div>
 {% else %}
  you are not allowed here! (AND YOU KNOW IT )
 {% endif %}

 {% endif %}


 {% endblock %}